{% extends "base.html" %}

{% block title %}Scoring{% endblock %}

{% block content %}
<style>
    .breadcrumbs a.current {
        font-weight: bold;
        color: #fff;
    }
</style>
<div class="breadcrumbs" style="margin-top: 0;">
    <a href="{% url 'scoring:leaderboard' %}"{% if request.resolver_match.url_name == 'leaderboard' %} class="current"{% endif %}>Leaderboard</a>
    {% if user.is_authenticated %}
    | <a href="{% url 'scoring:red_team_portal' %}"{% if 'red_team' in request.resolver_match.url_name %} class="current"{% endif %}>Review Red Team</a>
    | <a href="{% url 'scoring:orange_team_portal' %}"{% if 'orange' in request.resolver_match.url_name %} class="current"{% endif %}>Orange Team</a>
    | <a href="{% url 'scoring:inject_grading' %}"{% if 'inject' in request.resolver_match.url_name %} class="current"{% endif %}>Inject Grading</a>
    | <a href="{% url 'scoring:review_incidents' %}"{% if 'review_incident' in request.resolver_match.url_name %} class="current"{% endif %}>Review Incidents</a>
    {% if is_ticketing_admin %}
    | <a href="{% url 'ops_review_tickets' %}"{% if 'review_tickets' in request.resolver_match.url_name %} class="current"{% endif %}>Review Tickets</a>
    {% endif %}
    {% if user.is_staff %}
    | <a href="{% url 'scoring:scoring_config' %}"{% if 'config' in request.resolver_match.url_name %} class="current"{% endif %}>Configuration</a>
    {% endif %}
    {% endif %}
</div>

<div class="module">
    {% block scoring_content %}{% endblock %}
</div>
{% endblock %}
