{% extends "base.html" %}
{% block title %}Edit Check Type{% endblock %}

{% block content %}
{% load cotton %}
<c-module>
    <h3>Edit Check Type: {{ check_type.name }}</h3>
    <form method="post">
        {% csrf_token %}
        <c-fieldset aligned="true">
            <c-form_field label="Name" required="true" id="{{ form.name.id_for_label }}" error="{% for e in form.name.errors %}{{ e }}{% endfor %}">
                {{ form.name }}
            </c-form_field>

            <c-form_field label="{{ form.default_points.label }}" required="true" id="{{ form.default_points.id_for_label }}" help_text="{{ form.default_points.help_text }}" error="{% for e in form.default_points.errors %}{{ e }}{% endfor %}">
                {{ form.default_points }}
            </c-form_field>
        </c-fieldset>

        <c-button_row class="mt-15">
            <c-button type="submit" variant="warning">Save Changes</c-button>
            <c-link href="{% url 'scoring:manage_check_types' %}">Cancel</c-link>
        </c-button_row>
    </form>
</c-module>
{% endblock %}
