{% extends "admin/base_site.html" %}
{% load cotton %}
{% block scoring_title %}
    Email Scorecard - Team {{ team.team_number|stringformat:"02d" }}
{% endblock scoring_title %}
{% block content %}
    <div id="content-main">
        <c-page_header title="Email Scorecard" />
        <c-module>
        <c-alert variant="warning">
        Email the scorecard PDF for Team {{ team.team_number }} ({{ school_name }}) to:
        <strong>{{ emails|join:", " }}</strong>
        </c-alert>
        <c-form>
        {% csrf_token %}
        <c-button_row class="mt-20 justify-end">
        <c-link href="{% url 'leaderboard_scorecard' team.team_number %}">Cancel</c-link>
        <c-button type="submit" variant="primary" ::disabled="submitting">Send Email</c-button>
        </c-button_row>
        </c-form>
        </c-module>
    </div>
{% endblock content %}
