{% extends "scoring/orange_base.html" %}
{% load cotton %}
{% block title %}
    Check Types - WCComps
{% endblock title %}
{% block orange_content %}
    <c-page_header title="Check Types" />
    <c-module>
    <c-slot name="toolbar">
    <c-link href="{% url 'scoring:create_check_type' %}" variant="add">Add Check Type</c-link>
    </c-slot>
    <c-table aria_label="Orange check types">
    <c-slot name="headers">
    <tr>
        <c-table_header sortable="false">Name</c-table_header>
        <c-table_header sortable="false">Default Points</c-table_header>
        <c-table_header sortable="false">Adjustments</c-table_header>
        <c-table_header sortable="false">Actions</c-table_header>
    </tr>
    </c-slot>
    {% for ct in check_types %}
        <tr class="{% cycle 'row1' 'row2' %}">
            <th>
                <a href="{% url 'scoring:edit_check_type' ct.pk %}">{{ ct.name }}</a>
            </th>
            <td>
                <c-score_value :value="ct.default_points" format="signed" />
            </td>
            <td>{{ ct.bonuses.count }}</td>
            <td>
                <c-link href="{% url 'scoring:edit_check_type' ct.pk %}" variant="change">Edit</c-link>
                <c-link href="{% url 'scoring:delete_check_type' ct.pk %}" variant="danger">Delete</c-link>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="4">
                <c-empty_state title="No check types" description="Add a check type to get started." />
            </td>
        </tr>
    {% endfor %}
    </c-table>
    <p class="paginator">{{ check_types|length }} check type(s)</p>
    </c-module>
{% endblock orange_content %}
