{# Table component - data table with sortable columns #}
{# Usage: <c-table id="results"><c-slot name="headers">...</c-slot><c-slot name="body">...</c-slot></c-table> #}
{# Props: id, class, aria_label, fixed_layout (bool) #}
<c-vars id="result_list" class aria_label="Data table" fixed_layout="false" />
<div {{ attrs }} class="results">
    <table id="{{ id }}"
           role="grid"
           aria-label="{{ aria_label }}"
           class="{{ class }}{% if fixed_layout == 'true' %} table-fixed{% endif %}">
        {% if colgroup %}{{ colgroup }}{% endif %}
        <thead>
            {{ headers }}
        </thead>
        <tbody>
            {{ slot }}
        </tbody>
    </table>
</div>
