{% extends "base.html" %}
{% load cotton %}
{% block title %}
    404 - Page Not Found
{% endblock title %}
{% block content %}
    <div id="content-main">
        <c-module>
        <div class="text-center p-20">
            <h1 class="text-4xl m-0 mb-10">404</h1>
            <div class="text-xl font-semibold text-dark mb-8">This page got pwned</div>
            <div class="text-md text-secondary mb-20 max-w-400 mx-auto">
                Either red team took it down, or it never existed. We're not sure which is worse.
            </div>
            <c-button href="/" variant="default">
            Return to Safety
            </c-button>
        </div>
        </c-module>
    </div>
{% endblock content %}
