{% extends "admin/base_site.html" %}
{% load static i18n %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/dark_mode.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
{% endblock extrastyle %}
{% block extrahead %}
    {{ block.super }}
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <script src="https://unpkg.com/htmx.org@2.0.4"
            integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
            crossorigin="anonymous"></script>
    <script defer src="https://unpkg.com/alpinejs@3.14.8/dist/cdn.min.js"></script>
    <style>
        /* Subtle opacity fade during htmx requests */
        .htmx-request {
            opacity: 0.5;
            transition: opacity 200ms ease-in;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.body.addEventListener('htmx:responseError', function(evt) {
                console.error('htmx error:', evt.detail);
                alert('Request failed. Please try again.');
            });
            document.body.addEventListener('htmx:sendError', function(evt) {
                console.error('htmx send error:', evt.detail);
                alert('Network error. Please check your connection.');
            });
        });
    </script>
{% endblock extrahead %}
{% block footer %}
    {{ block.super }}
{% endblock footer %}
