{% extends "base.html" %}

{% block title %}Successfully Linked - WCComps{% endblock %}

{% block content %}
<div id="content-main">
    <c-page_header title="Successfully Linked" />

    <c-module>
        <c-fieldset aligned="true">
            <div class="form-row">
                <div>
                    <label>Discord Account:</label>
                    <div class="readonly">{{ discord_username }}</div>
                </div>
            </div>

            <div class="form-row">
                <div>
                    <label>Authentik Username:</label>
                    <div class="readonly">{{ authentik_username }}</div>
                </div>
            </div>

            {% if is_team_account %}
            <div class="form-row">
                <div>
                    <label>Team:</label>
                    <div class="readonly">{{ team_name }} (#{{ team_number }})</div>
                </div>
            </div>
            {% endif %}
        </c-fieldset>

        {% if is_team_account %}
        <p style="margin-top: 20px;">
            Your team role will be assigned shortly. You can now close this window and return to Discord.
        </p>
        <p style="margin-top: 10px; color: #999;">
            If you don't see your role appear within a few minutes, please contact an administrator.
        </p>
        {% else %}
        <p style="margin-top: 20px;">
            You can now close this window and return to Discord.
        </p>
        {% endif %}
    </c-module>
</div>
{% endblock %}
