{% extends "base.html" %}
{% load cotton %}

{% block title %}Delete Event - WCComps{% endblock %}

{% block content %}
<div id="content-main">
    <c-page_header title="Delete Event" />

    <c-module>
        <c-alert variant="warning">
            Are you sure you want to delete the event "{{ event.name }}"?
            This will also delete all team assignments and enrollments for this event.
        </c-alert>

        <form method="post">
            {% csrf_token %}
            <c-button_row class="mt-20 justify-end">
                <a href="{% url 'registration_event_list' season_id=event.season_id %}" class="btn btn-secondary">Cancel</a>
                <c-button type="submit" variant="danger">Delete Event</c-button>
            </c-button_row>
        </form>
    </c-module>
</div>
{% endblock %}
