{% load i18n %}
<button class="sticky toggle-nav-sidebar" id="toggle-nav-sidebar" aria-label="{% translate 'Toggle navigation' %}"></button>
<nav class="sticky" id="nav-sidebar" aria-label="{% translate 'Sidebar' %}">
  <input type="search" id="nav-filter"
         placeholder="{% translate 'Start typing to filter…' %}"
         aria-label="{% translate 'Filter navigation items' %}">
  {% if is_gold_team or is_admin %}
  <div class="app-operations module">
    <table>
      <caption>
        <a href="#" class="section" title="Operations tools">Operations</a>
      </caption>
      <tr class="model-teammappings">
        <th scope="row" id="sidebar-operations-teammappings">
          <a href="{% url 'ops_group_role_mappings' %}">Team mappings</a>
        </th>
      </tr>
    </table>
  </div>
  {% endif %}
  {% include 'admin/app_list.html' with app_list=available_apps show_changelinks=False %}
</nav>
